@tailwind base;
@tailwind components;
@tailwind utilities;

input {
    @apply w-[400px] border border-gray-200 py-2 px-6 bg-zinc-100/40
}

/* styles/globals.css */
@media print {
    .print\:max-h-full {
        max-height: none !important;
    }

    .print\:overflow-y-visible {
        overflow-y: visible !important;
    }

    .print-div {
        padding: 25px !important;
    }
}